body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#content {
    display: flex;
    align-content: flex-start;
    height: 100vh;
}

#page {
    background-color: white;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

#pageContent {
    padding: 10px;
}

#filters {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.filterOptions {
    max-width: 40%;
    margin: 0px 10px;
}

#filterColors {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.colorCircle {
    min-width: 18px;
    min-height: 18px;
    max-width: 18px;
    max-height: 18px;
    border-radius: 100%;
    cursor: pointer;
    margin: 10px;
}

.selectedColorCircle {
    border: 1px solid black;
    padding: 3px;
}

.input {
    width: 300px;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
}

#progressbarContainer {
    margin-top: 30px;
}

.progressbar {
    display: flex;
    align-items: center;
}

.progress {
    width: 50%;
    height: 35px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid grey;
    margin-right: 20px;
}

.bar {
    height: 100%;
    border-radius: 20px;
    background-color: grey;
}

.button {
    padding: 10px 14px;
    border: 1px solid grey;
    border-radius: 3px;
    width: fit-content;
    cursor: pointer;
}

.disabledBtn {
    pointer-events: none;
    opacity: 0.5;
}

#addCreativeBtn {
    margin-top: 50px;
}

#creatives {
    margin-top: 50px;
}

.creative {
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px 0px;
}

.creativeSubTitle {
    font-size: 14px;
    margin-top: 5px;
}


/* modal part */
#modal {
    width: 35%;
    display: none;
}

#modalContent {
    padding: 30px;
}

#modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#modalCloseBtn {
    cursor: pointer;
}

#backgrndColors {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}