.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.autoComplete {
    position: relative;
}

.suggestions {
    position: absolute;
    top: 38px;
    background-color: white;
    border: 1px solid #ccc;
    width: 400px;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}

.suggestionItem {
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
}

.inputField {
    height: 35px;
    width: 400px;
}