body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    height: 80vh;
    background-color: grey;
    overflow-y: auto;
}

.card {
    padding: 20px 5px;
}