.grid {
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    width: fit-content;
    margin: 0 auto;
}

.cell {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.highlight {
    background-color: aquamarine;
}