body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

thead {
    background-color: rosybrown;
}

th,
td {
    border: 1px solid grey;
    padding: 3px;
}

.pointTitle {
    background-color: lightblue;
}

.highlight {
    background-color: lime;
}