body {
    font-family: 'Courier New', Courier, monospace;
    background-color: darkslategray;
    padding: 0;
    margin: 0;
}

#app {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color: white;
    height: 100vh;
}

.compTitle {
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: darkslategray;
    border-bottom: 1px solid white;
}

#folderComp {
    width: 200px;
    background-color: rgba(0,0,0, 0.2);

    height: 100vh;
    overflow-y: auto;
}

#folders, #folderMails {
    padding: 0;
    margin: 0;
    list-style: none;
}

#folders li, #folderMails li {
    padding: 10px 15px;
    border-bottom: 1px solid darkolivegreen;
    cursor: pointer;
}

#mailListComp {
    width: 400px;
    background-color: rgba(0,0,0, 0.2);
    
    height: 100vh;
    overflow-y: auto;
}

.mailFromTo {
    font-size: 80%;
    color: lightgray;
}

.mailSubject {
    font-size: 150%;
}

#mailInfoComp {
    width: calc(98% - 600px);
    background-color: rgba(0,0,0, 0.4);
    
    height: 100vh;
    overflow-y: auto;
}

#mailInfo {
    padding: 10px;
}

.active {
    background-color: grey
}

.unread {
    background-color: rgba(0,0,0, 0.4);
}

.unreadCount {
    float: right;
    font-size: 60%;
    background-color: darkred;
    border-radius: 100%;
    padding: 2px;
}