body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

.gridRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gridCell {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.visibleCell {
    border: 1px solid grey;
}

.activeCell {
    background-color: limegreen;
}