body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: darkolivegreen;
    color: #f1f1f1;
}

#rideSearchForm {
    text-align: center;
    padding: 10px 0;
}

#rideSearchForm input {
    width: 170px;
    border: none;
    border-radius: 3px;
    padding: 9px 5px;
}

#suggsWrapper {
    margin: 0;
    margin-top: 10px;
    padding: 10px;
    list-style: none;
    border-top: 2px solid lightgray;
}

#suggsWrapper li {
    margin-bottom: 3px;
    padding: 5px 3px;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.rideUser {
    font-size: 130%;
    font-weight: bolder;
}