body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg-main);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}