.center {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
}

.seatRow {
    display: flex;
    align-items: center;
    gap: 100px;
    list-style: none;
}

.seats {
    display: flex;
    align-items: center;
    gap: 10px;
}

.seat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid aqua;
    color: aqua;
    flex-shrink: 0;
    cursor: pointer;
}

.seat_booked {
    border: none;
    color: lightgray;
    background-color: gray;
    pointer-events: none;
}

.seat_hidden {
    visibility: hidden;
}

.seat_not_allowed {
    pointer-events: none;
    cursor: not-allowed;
    background-color: crimson;
    color: lightgray;
}

.active {
    border: 1px solid blue;
}

.selection {
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
}